<div id="map_canvas" ></div>
<div id="menuContainer">
	<div id="innerMenuContainer">
		<!-- <div class="search-box">
		<input type="text" class="search-query" placeholder="Search">
		</div>-->
		<div class="well" id="list-stories">
			<ul class="nav nav-list nav-stacked" id="story-list">
				<li class="nav-header">
					List Stories
				</li>

			</ul>

		</div>
		
		
	</div>

</div><!--/menu-->
<div id="display">
	
</div><!--/display-->

<div class="well" id="opened-title-top">
	<div id="opened-title">
	</div>
	<div id="time_stop_view">
		<ul class="nav nav-list nav-stacked">
			
		</ul>
	</div>
</div>
	

<hr>
