<div id="map_canvas" ></div>
<div id="menuContainer">
	<div id="innerMenuContainer">
		<!-- <div class="search-box">
		<input type="text" class="search-query" placeholder="Search">
		</div>-->
		<div class="well" id="list-stories">
			<ul class="nav nav-list nav-stacked" id="story-list">
				<li class="nav-header">
					List Stories
				</li>

			</ul>

		</div>
		
		
	</div>

</div><!--/menu-->
<div id="display">
	
</div><!--/display-->

<div class="well" id="opened-title">
</div>
	
<div class="well"  id="time-line">
	<div class="pull-right" id="run-panel">
		<a class="btn btn-info pull-right" id="step-next" href="#"><i class="icon-chevron-right"></i></a>
		<a class="btn btn-info pull-right" id="play" href="#"><i class="icon-play"></i></a>
		<a class="btn btn-info pull-right" id="step-prev" href="#"><i class="icon-chevron-left"></i></a>			
	</div>
	<div><small id="current-time-string"></small></div>
	<div id="time-line-inner"></div>
</div>

<hr>
