<div class="modal-header">
  <h3><%=full_title%></h3>
</div>
<div class="modal-body">
  <span>
  	<%=content%>
  </span>
</div>
<div class="modal-footer">
  <a id="ok" href="#" class="btn btn-primary">Ok</a>
</div>