<div class="well" id="time-marker-<%=id%>" class="time-marker-more" style="padding: 8px">
	<input type="checkbox" id="toggleTrace"/>
	<img src="<%=base_marker_api%><%=color%>" style="height: 25px;
padding-right: 10px;
clear: both;
vertical-align: middle;"/>
	<strong style="cursor:pointer"><%=full_title%></strong>
</div>