<div class="well" id="time-marker-<%=id%>" class="time-marker-more">
	<img src="<%=base_marker_api%><%=color%>" class="pull-left" />
	<label class="checkbox pull-right" >
	<input type="checkbox" id="toggleTrace"/> Toggle trace
	</label>
	<h3><%=full_title%></h3>
</div>