<div class="modal-header">
  <h3><%=full_title%></h3>
</div>
<div class="modal-body">
  <span>
  	<%=content%>
  </span>
</div>
<div class="modal-footer">
	<%if(!opened){%>
  <a id="open" href="#" class="btn btn-primary">Open</a>
  	<%}else{%>
  <a id="close" href="#" class="btn btn-primary">Close</a>
  	<%}%>
  <a id="cancel" href="#" class="btn btn-primary">Cancel</a>
</div>