<div class="modal-body">
  <table class="table table-bordered">
  	<tbody>
  		<tr>
  			<td>
  				Info:
  			</td>
  			<td>
  				<textarea rows="3" id="panel-marker-info"></textarea>
  			</td>
  		</tr>
  	</tbody>
  </table>
</div>
<div class="modal-footer">
  <a id="set" href="#" class="btn btn-primary">Set</a>
  <a id="unset" href="#" class="btn btn-primary">Unset</a>
  <a id="ok" href="#" class="btn btn-primary">Ok</a>
</div>