
	<strong class="story-item-name"><%=full_title%></strong>
	<small class="story-item-date"><%=bottom_boundry.years%> - <%=top_boundry.years%></small>
	<% if(editMode){ %><a href="#" id="editStory">EDIT</a> <% } %>
