<div class="well" id="<%=type%>-<%=id%>" class="time-marker-more"  style="padding: 8px">
	<strong style="cursor: pointer"><%=title%></strong><br/>
	<small ><%=type%> <a href="#" class="btn" id="remove"><i class="icon-trash"></i></a></small>
</div>