@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);
/* modify bootstrap 
$basicBlue: #8395E3;
$darkBlue: #090F2B;
$lightBlue:#263EA8;
$baseGray: #676767;

$navbarBackground: $baseGray;
*/


@import "bootstrap";


/* mixins, variables, etc. */

$special_font: 'Sue Ellen Francisco', cursive;
/*
body {
  background-color: $basicBlue;
  
}*/
.navbar .nav > li > small {
  display: block;
float: none;
padding: 10px 10px 11px;
line-height: 19px;
color: #999;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

}
#time_stop_view{

}

#map_canvas img{
  max-width: none;
}

.markersSuplied>div{
  background-color: #66CCCC;
}

.current-time>div {
  
  background-color: #3300CC !important;
  
}

#pageContainer {
  
        position : relative;
        width : 100%;
        overflow : hidden;
}

#menuContainer {
        position : relative;
        float : left;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
        z-index: 100;
        
        .well {
          width: 90%;
        }
  
}
#display {
        overflow-y: auto;
        position : relative;
        float : left;
        height : 100%;
}

#map_canvas{
  position: absolute;
  height:inherit;
}

#opened-title-top {
  position: absolute;
  padding-top: 40px;
  top: 2%;
  right: 2%;
}

#time-line{
  height: 60px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10000000;
  background: whiteSmoke;
  
  small {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
  }
    
  #time-line-inner{
    padding-top: 10px;
    clear: both;
  }
}

#time-line .pull-right{
  padding-right: 10px;
}

.time-unit{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  cursor: hand;
  width: 10px;
  height: 10px;
  border: 1px solid #A0A0A0;
  margin: 1px;
  float:left;
}

#innerMenuContainer {
  
        padding : 2% 100px 2% 2%;
        overflow-x : hidden;
        overflow-y : hidden;
        height : 96%;
}
html, body {
  height: 100%;
  overflow: hidden;

}

#wrapper{
  min-height: 100%;
  
}

#pageContainer{
  padding: 40px 0 120px 0 !important;
  overflow:auto;
  
  .search-box{
    padding: 20px;
  }
}

.story-item{
  display:table;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  .story-item-name{
    color: #444;
    float:left;
    clear:both;
  }
  .story-item-date {
    display:block;
    float: right;
    clear:both;
  }
}
/*
.well{
  background: $lightBlue;
}*/

#logo{
  font-family: $special_font;
}

#map_canvas{
  width:100%;
}
/*
.hero-unit{
  background: $lightBlue;
}*/


#display {
  position: relative;
  
}

footer {
  background: #000;
  height: 120px;
  overflow: hidden;
  border-top: 0px solid #9a9a9a;
  position: relative;
  margin-top: -120px;
  bottom: 0px;
  left: 0px;
  small{
    margin-top: 10px;
    color: #fff;
    float:left;
  }
  nav{
    display:table-cell;
    float: right;
    ul{
       
    margin-top: 10px;
    }
     li{
      display:inline;
  }
}
}

.fullCanvasWindow{
  width: 98%;
  height: 98%;
  margin: 1%;
  border-radius: 20px;
  background: #fff;
    display: table;
  
  .center{
    height:100%;
    width: 100%;
    display: table-cell;
    .close{
      margin-right: 20px;
      margin-top: 20px;
    }
      text-align: center;
        vertical-align: middle;
      *  {
        vertical-align: middle;
      }
    
  }
  
}

.loadIndicator{
  display: none;
}
