<footer class="footer">

	<div class=""  id="time-line">
		<div class="pull-right" id="run-panel">
			<a class="btn btn-info pull-right" id="step-next" href="#"><i class="icon-chevron-right"></i></a>
			<a class="btn btn-info pull-right" id="play" href="#"><i class="icon-play"></i></a>
			<a class="btn btn-info pull-right" id="step-prev" href="#"><i class="icon-chevron-left"></i></a>
		</div>
		<div>
			<small id="current-time-string"></small>
		</div>
		<div id="time-line-inner"></div>
	</div>
	<div class="container-fluid">
		<small> Live HISTORY by Dariusz Wolek </small>
		<nav>
			<ul>
				<li>
					<%= link_to "About",   about_path %>
				</li>
				<li>
					<%= link_to "Contact", contact_path %>
				</li>
			</ul>
		</nav>
		<%= debug(params) if (Rails.env.development? && false) %>
	</div>
</footer>