<footer class="footer">
	<div class="container-fluid">
		<small> Live HISTORY by Dariusz Wolek </small>
		<nav>
			<ul>
				<li>
					<%= link_to "About",   about_path %>
				</li>
				<li>
					<%= link_to "Contact", contact_path %>
				</li>
			</ul>
		</nav>
		<%= debug(params) if (Rails.env.development? && false) %>
	</div>
</footer>